/* ////////////////////////////////////////////////////////////////////base */

:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --corn-flower: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--slate);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, p, ul{
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.tier2-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}

.main-title, .tier2-title {
    font-weight: 700;
}

.tier3-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}

.tier2-title, .tier3-title {
    color: var(--navy-blue);
}

.text {
    color: var(--slate);
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.wrapper-list {
    display: flex;
    gap: 24px;
}

section + section {
    padding-top: 120px;
}

section:last-child {
    padding-bottom: 120px;
}

/* //////////////////////////////////////////////////////index */


/* ///////////////////////////////////////////header */

.header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--iris);
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
}

.header .logo span {
    color: var(--navy-blue);
}

.header-link:hover, .header-link:focus {
    color: var(--ocean);
}

nav, .nav-list, .address-list{
    display: flex;
}

.nav-list, .address-list  {
    gap: 40px;
}

.nav-item {
    color: var(--navy-blue);
    font-weight: 500;
}

.address-item {
    color: var(--slate);
    font-style: normal;
}

/*/////////////////////////////////////// hero-section  */

.hero-section {
    padding: 188px 0;
    background-color: var(--navy-blue);
}

.main-title, .hero-btn {
    margin: 0 auto;
}

.main-title {
    margin-bottom: 48px;
    width: 494px;
    color: var(--white);
    font-size: 56px;
    line-height: 60px;
}

.hero-btn {
    display: block;
    padding: 16px 32px;
    background-color: var(--iris);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: var(--ocean);
    color: var(--white);
}

/*////////////////////////////////////////////// our-team */

.our_team-list {
    text-align: center;
}

.card-content {
    padding: 32px 16px;
}
/* //////////////////////////////////////////////////////portfolio */

.portfolio-section {
    padding-top: 96px;
}

.tabs-list {
    justify-content: center;
    margin-bottom: 72px;
}

.tab-item {
    color: var(--iris);
    font-weight: 500;
}

.tab-btn {
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    color: var(--iris);
    font-family: 'Roboto', sans-serif;
}

.tab-btn:hover, .tab-btn:focus {
    background-color: var(--ocean);
    color: var(--white);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/*////////////////////////////////////////////// fotter  */
.footer .logo span {
    color: var(--corn-flower);
}

.footer .logo {
    margin-bottom: 16px;
}

.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
}

.footer-text {
    width: 264px;
    color: var(--corn-flower);
}
